<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffm>
      <resourceManager  set:type="Sitecore.Support.WFFM.Core.Dependencies.DefaultImplResourceManager, Sitecore.Support.252780">
        <param name="resourceName">Sitecore.Support.WFFM.Core.Properties.Resources</param>
        <param name="translationProvider" ref="/sitecore/wffm/translationProvider" />
      </resourceManager>
    </wffm>
  </sitecore>
</configuration>